<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MvpQualificar</title>
  <%= stylesheet_link_tag 'styles', media: 'all' %> <!-- Inclui o arquivo CSS externo -->
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= javascript_importmap_tags %>
</head>
<body>

  <div class="sidebar">
    <div class="sidebar-menu">
      <div class="menu-item"><%= link_to 'Área Restrita',  '#' %></div>
      <div class="menu-item"><%= link_to 'Cadastre-se','#' %></div>
      <div class="menu-item"><%= link_to 'Nossos Cursos','#' %></div>
      <div class="menu-item"><%= link_to 'Fale Conosco', '#' %></div>
    </div>
  </div>

  <div class="grid-container">
    <!-- Seus itens de grade aqui -->
    <div class="grid-item">
      <a href="pagina_destino.html">
        <img src="/assets/imagem1.jpg" alt="Imagem 1">
        <p>Carga Horária</p>
        <p>Texto descritivo 1</p>
      </a>
    </div>
    <div class="grid-item">
      <a href="pagina_destino.html">
        <img src="/assets/imagem2.jpg" alt="Imagem 2">
         <p>Carga Horária</p>
        <p>Texto descritivo 2</p>
      </a>
    </div>
    <div class="grid-item">
      <a href="pagina_destino.html">
        <img src="/assets/imagem3.jpg" alt="Imagem 3">
         <p>Carga Horária</p>
        <p>Texto descritivo 3</p>
      </a>
    </div>
        <div class="grid-item">
      <a href="pagina_destino.html">
        <img src="/assets/imagem1.jpg" alt="Imagem 1">
        <p>Carga Horária</p>
        <p>Texto descritivo 1</p>
      </a>
    </div>
    <div class="grid-item">
      <a href="pagina_destino.html">
        <img src="/assets/imagem2.jpg" alt="Imagem 2">
         <p>Carga Horária</p>
        <p>Texto descritivo 1</p>
      </a>
    </div>
    <div class="grid-item">
      <a href="pagina_destino.html">
        <img src="/assets/imagem3.jpg" alt="Imagem 3">
         <p>Carga Horária</p>
        <p>Texto descritivo 1</p>
      </a>
    </div>
        <div class="grid-item">
      <a href="pagina_destino.html">
        <img src="/assets/imagem1.jpg" alt="Imagem 1">
        <p>Carga Horária</p>
        <p>Texto descritivo 1</p>
      </a>
    </div>
    <div class="grid-item">
      <a href="pagina_destino.html">
        <img src="/assets/imagem2.jpg" alt="Imagem 2">
         <p>Carga Horária</p>
        <p>Texto descritivo 1</p>
      </a>
    </div>
    <div class="grid-item">
      <a href="pagina_destino.html">
        <img src="/assets/imagem3.jpg" alt="Imagem 3">
         <p>Carga Horária</p>
        <p>Texto descritivo 1</p>
      </a>
    </div>
        <div class="grid-item">
      <a href="pagina_destino.html">
        <img src="/assets/imagem1.jpg" alt="Imagem 1">
        <p>Carga Horária</p>
        <p>Texto descritivo 1</p>
      </a>
    </div>
    <div class="grid-item">
      <a href="pagina_destino.html">
        <img src="/assets/imagem2.jpg" alt="Imagem 2">
        <p>Carga Horária</p>
        <p>Texto descritivo 1</p>
      </a>
    </div>
    <div class="grid-item">
      <a href="pagina_destino.html">
        <img src="/assets/imagem3.jpg" alt="Imagem 3">
        <p>Carga Horária</p>
        <p>Texto descritivo 1</p>
      </a>
    </div>
    <div class="grid-item">
      <a href="pagina_destino.html">
        <img src="/assets/imagem1.jpg" alt="Imagem 1">
        <p>Carga Horária</p>
        <p>Texto descritivo 1</p>
      </a>
    </div>
    <div class="grid-item">
      <a href="pagina_destino.html">
        <img src="/assets/imagem2.jpg" alt="Imagem 2">
        <p>Carga Horária</p>
        <p>Texto descritivo 1</p>
      </a>
    </div>
    <div class="grid-item">
      <a href="pagina_destino.html">
        <img src="/assets/imagem3.jpg" alt="Imagem 3">
        <p>Carga Horária</p>
        <p>Texto descritivo 1</p>
      </a>
    </div>
    <div class="grid-item">
      <a href="pagina_destino.html">
        <img src="/assets/imagem1.jpg" alt="Imagem 1">
         
        <p>Carga Horária</p>
        <p>Texto descritivo 1</p>
      </a>
    </div>
    <div class="grid-item">
      <a href="pagina_destino.html">
        <img src="/assets/imagem2.jpg" alt="Imagem 2">
         <p>Carga Horária</p>
        <p>Texto descritivo 1</p>
      </a>
    </div>
    <div class="grid-item">
      <a href="pagina_destino.html">
        <img src="/assets/imagem3.jpg" alt="Imagem 3">
        <p>Carga Horária</p>
        <p>Texto descritivo 1</p>
      </a>
    </div>
    <div class="grid-item">
      <a href="pagina_destino.html">
        <img src="/assets/imagem1.jpg" alt="Imagem 1">
        <p>Carga Horária</p>
        <p>Texto descritivo 1</p>
      </a>
    </div>
 
    <div class="grid-item">
      <a href="pagina_destino.html">
        <img src="/assets/imagem3.jpg" alt="Imagem 3">
        <p>Carga Horária</p>
        <p>Texto descritivo 1</p>
      </a>
    </div>
    <div class="grid-item">
      <a href="pagina_destino.html">
        <img src="/assets/imagem1.jpg" alt="Imagem 1">
        <p>Carga Horária</p>
        <p>Texto descritivo 1</p>
      </a>
    </div>
    <div class="grid-item">
      <a href="pagina_destino.html">
        <img src="/assets/imagem2.jpg" alt="Imagem 2">
        <p>Carga Horária</p>
        <p>Texto descritivo 1</p>
      </a>
    </div>
    <div class="grid-item">
      <a href="pagina_destino.html">
        <img src="/assets/imagem3.jpg" alt="Imagem 3">
         <p>Carga Horária</p>
        <p>Texto descritivo 1</p>
      </a>
    </div>
 
  </div>

</body>
</html>
