<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MvpQualificar</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= javascript_importmap_tags %>
</head>
<body>
  <div class="logo-container">
    <div class="logo">
      <!-- Aqui pode colocar a imagem da logo -->
    </div>
  </div>

  <div class="sidebar">
  <div class="sidebar-menu">
    <div class="menu-item"><%= link_to 'Ãrea Restrita', '#' %></div>
    <div class="menu-item"><%= link_to 'Cadastre-se', '#' %></div>
    <div class="menu-item"><%= link_to 'Nossos Cursos', '#' %></div>
    <div class="menu-item"><%= link_to 'Fale Conosco', '#' %></div>
  </div>
</div>

 
  <%= yield %>
</body>
</html>
